@font-face {
  font-family: Red Hat Display;
  src: url("../fonts/RedHatDisplay-Bold.ttf");
  src: url("../fonts/RedHatDisplay-Black.ttf");
  src: url("../fonts/RedHatDisplay-Medium.ttf");
  src: url("../fonts/RedHatDisplay-Regular.ttf");
}

@keyframes scale {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 600%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contagion .text .sub-header, .symptomps .text .sub-header, header .text .header-text .sub-header, .about-us .text .sub-header {
  direction: rtl;
  font-family: Red Hat Display;
  font-weight: bold;
  font-size: 1.2em;
  color: #fa5652;
  text-align: justify;
}

.contagion .text .sub-header span, .symptomps .text .sub-header span, header .text .header-text .sub-header span, .about-us .text .sub-header span {
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .contagion .text .sub-header, .symptomps .text .sub-header, header .text .header-text .sub-header, .about-us .text .sub-header {
    font-family: Red Hat Display;
    font-weight: bold;
    font-size: 1em;
    color: #fa5652;
    text-align: justify;
  }
}

@media only screen and (max-width: 1100px) {
  .contagion .text .sub-header, .symptomps .text .sub-header, header .text .header-text .sub-header, .about-us .text .sub-header {
    font-family: Red Hat Display;
    font-weight: bold;
    font-size: 0.9em;
    color: #fa5652;
    text-align: justify;
  }
}

@media only screen and (max-width: 1000px) {
  .contagion .text .sub-header, .symptomps .text .sub-header, header .text .header-text .sub-header, .about-us .text .sub-header {
    font-family: Red Hat Display;
    font-weight: bold;
    font-size: 1.5em;
    color: #fa5652;
    text-align: justify;
  }
}

@media only screen and (max-width: 600px) {
  .contagion .text .sub-header, .symptomps .text .sub-header, header .text .header-text .sub-header, .about-us .text .sub-header {
    font-family: Red Hat Display;
    font-weight: bold;
    font-size: 1em;
    color: #fa5652;
    text-align: justify;
  }
}

.contagion .text .main-head, .symptomps .text .main-head, header .text .header-text .main-head, .about-us .text .main-head, .contagion-card .main-head {
  direction: rtl;
  font-family: Red Hat Display;
  font-weight: bold;
  font-size: 2.5rem;
  color: #035755;
  text-align: justify;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1000px) {
  .contagion .text .main-head, .symptomps .text .main-head, header .text .header-text .main-head, .about-us .text .main-head, .contagion-card .main-head {
    font-family: Red Hat Display;
    font-weight: bold;
    font-size: 2.3rem;
    color: #035755;
    text-align: justify;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .contagion .text .main-head, .symptomps .text .main-head, header .text .header-text .main-head, .about-us .text .main-head, .contagion-card .main-head {
    font-family: Red Hat Display;
    font-weight: bold;
    font-size: 1.5rem;
    color: #035755;
    text-align: justify;
    margin-bottom: 1rem;
  }
}

.contagion .text .content, .symptomps .text .content, header .text .header-text .content, .about-us .text .content, .contagion-card .content {
  direction: rtl;
  font-family: Red Hat Display;
  font-weight: normal;
  font-size: 0.8em;
  color: #616060;
  text-align: justify;
  line-height: 2rem;
  word-spacing: 0.2rem;
}

.contagion .text .content span, .symptomps .text .content span, header .text .header-text .content span, .about-us .text .content span, .contagion-card .content span {
  text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {
  .contagion .text .content, .symptomps .text .content, header .text .header-text .content, .about-us .text .content, .contagion-card .content {
    font-family: Red Hat Display;
    font-weight: normal;
    font-size: 0.8em;
    color: #616060;
    text-align: justify;
  }
}

@media only screen and (max-width: 1000px) {
  .contagion .text .content, .symptomps .text .content, header .text .header-text .content, .about-us .text .content, .contagion-card .content {
    font-family: Red Hat Display;
    font-weight: normal;
    font-size: 0.9em;
    color: #616060;
    text-align: justify;
  }
}

@media only screen and (max-width: 600px) {
  .contagion .text .content, .symptomps .text .content, header .text .header-text .content, .about-us .text .content, .contagion-card .content {
    font-family: Red Hat Display;
    font-weight: bold;
    font-size: 0.7em;
    color: #616060;
    text-align: justify;
  }
}

.contagion .header, .symptomps .header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.contagion .text, .symptomps .text {
  width: 33vw;
  height: auto;
}

@media screen and (max-width: 992px) {
  .contagion .text, .symptomps .text {
    width: 70%;
  }
}

.contagion .text .sub-header, .symptomps .text .sub-header,
.contagion .text .main-head,
.symptomps .text .main-head,
.contagion .text .content,
.symptomps .text .content {
  text-align: center;
}

body {
  background-color: #f7f1f1;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  margin-bottom: 2rem;
  padding: 0.6rem 0;
}

header .nav-collapse {
  position: relative;
}

header .nav-collapse .checkbox:checked ~ .navigation {
  display: block;
  right: -1vw;
}

header .nav-collapse .checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg);
}

header .nav-collapse .checkbox:checked ~ .hamburger-menu .menu-line {
  background-color: #f7f1f1;
}

header .nav-collapse .checkbox:checked ~ .hamburger-menu .menu .line-1 {
  transform: rotateZ(-40deg);
}

header .nav-collapse .checkbox:checked ~ .hamburger-menu .menu .line-2 {
  opacity: 0;
}

header .nav-collapse .checkbox:checked ~ .hamburger-menu .menu .line-3 {
  transform: rotateZ(40deg);
}

header .nav-collapse .hamburger-menu {
  position: absolute;
  width: 35px;
  height: 35px;
  z-index: 20;
  margin-left: 2rem;
  transition: all 0.8s cubic-bezier(1, 1, 1, 1);
}

header .nav-collapse .hamburger-menu .menu {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.5s;
}

header .nav-collapse .hamburger-menu .menu-line {
  width: 100%;
  height: 0.35rem;
  background-color: #616060;
  transition: all 0.5s 0.5s;
  transform-origin: right;
}

header .nav-collapse .navigation {
  position: absolute;
  background-color: #6e6d6d;
  width: 30vw;
  height: auto;
  top: 0;
  right: -52vw;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}

header .nav-collapse .navigation .navbar-list {
  list-style: none;
  margin-top: 3.5rem;
}

header .nav-collapse .navigation .navbar-list .navbar-link {
  margin: 0.8rem 0;
}

header .nav-collapse .navigation .navbar-list .navbar-link a {
  color: #035755;
  font-family: Red Hat Display;
  text-decoration: none;
  text-transform: capitalize;
  color: #fb4c47;
  transition: letter-spacing .5s;
}

header .nav-collapse .navigation .navbar-list .navbar-link a:hover {
  letter-spacing: 1px;
}

header .nav-brand .name {
  margin: 0 0.3rem;
  cursor: pointer;
  font-family: Red Hat Display;
  font-weight: bold;
  font-size: 1em;
  color: #035755;
  text-align: justify;
}

header .nav-brand .logo {
  margin: 0 4rem 0 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  header .nav-brand .logo {
    margin-left: 1rem;
    justify-content: flex-end !important;
  }
}

header .nav-brand .logo .name {
  margin: 0 0.3rem;
  cursor: pointer;
  font-family: Red Hat Display;
  font-weight: bold;
  font-size: 1em;
  color: #035755;
  text-align: justify;
}

header .nav-brand .logo img {
  margin-left: 4rem;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  header .nav-brand .logo img {
    margin-right: 2rem;
  }
}

header .nav .active::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #fa5652;
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 3px);
  bottom: -10px;
}

header .nav a {
  margin: 0 0.8rem;
  color: #035755;
  font-family: Red Hat Display;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease-in-out;
  position: relative;
}

header .nav a:first-child {
  color: #fb4c47;
}

header .nav a:hover {
  letter-spacing: 1px;
}

header .nav button {
  color: #ff483d;
  background-color: #f7f1f1;
  font-family: Red Hat Display;
  text-transform: capitalize;
  border: 1px solid #ff483d;
  border-radius: 2.5rem;
  margin: 0 .8rem 0 4rem;
  padding: 0.5rem 1.5rem;
  transition: 0.2s ease-in-out;
}

header .nav button:hover {
  color: #f7f1f1;
  background-color: #fb4c47;
  letter-spacing: 1px;
}

@media only screen and (max-width: 1200px) {
  header .text {
    order: 10;
  }
}

header .text .header-text {
  margin-left: 4rem;
}

@media only screen and (min-width: 992px) {
  header .text .header-text .main-head {
    font-size: 2rem;
  }
}

header .text .header-text .content {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1200px) {
  header .text .header-text {
    margin: 0;
    margin-top: 1rem;
  }
}

header .text .header-text button {
  font-family: Red Hat Display;
  font-weight: bold;
  color: #f7f1f1;
  text-transform: capitalize;
  background-color: #fb4c47;
  border: 1px solid #fb4c47;
  border-radius: 2.5rem;
  padding: 0.6rem 2.2rem;
  transition: 0.2s ease-in-out;
}

header .text .header-text button:hover {
  letter-spacing: 1px;
}

@media only screen and (max-width: 1200px) {
  header .text .header-text button {
    padding: 0.6rem 1.7rem;
  }
}

@media only screen and (max-width: 1000px) {
  header .text .header-text button {
    padding: 0.3rem 1rem;
  }
}

.about-us {
  margin-bottom: 2rem;
}

.about-us .text {
  position: relative;
}

.about-us .text .content {
  margin-bottom: 1rem;
}

.about-us .text button {
  font-family: Red Hat Display;
  color: #fa5652;
  font-weight: bold;
  background-color: rgba(250, 86, 82, 0.15);
  border: 1px solid rgba(250, 86, 82, 0.15);
  border-radius: 2.5rem;
  padding: 0.6rem 2.2rem;
  float: right;
  transition: 0.2s ease-in-out;
}

.about-us .text button:hover {
  letter-spacing: 1px;
}

@media only screen and (max-width: 1200px) {
  .about-us .text button {
    padding: 0.6rem 1.7rem;
  }
}

@media only screen and (max-width: 1000px) {
  .about-us .text button {
    padding: 0.3rem 1rem;
  }
}

.about-us .image .img-1,
.about-us .image .img-2 {
  position: absolute;
  z-index: -10;
}

.about-us .image .img-1 {
  top: -22vh;
  right: -8vw;
  width: 150px;
  height: 150px;
  animation-name: rotate;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-iteration-count: linear;
}

.about-us .image .img-2 {
  width: 150px;
  right: -9vw;
  bottom: -20vh;
}

.contagion .d-flex {
  position: relative;
}

@media screen and (max-width: 992px) {
  .contagion .d-flex {
    align-items: center;
  }
}

.contagion .border-b {
  border-bottom: 5px solid #fb4c47;
}

.contagion .border-b img {
  margin-top: 4rem;
}

.contagion .m-top img {
  margin-top: 3.5rem;
}

.contagion-card {
  background-color: #f7f4f4;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  transition: box-shadow 0.5s 0.1s ease-in-out;
  box-shadow: 3px 0 5px 1px #ededed, -3px 0 5px 1px #ededed;
  padding: 2.5rem;
  margin: 1rem 0;
}

.contagion-card:hover {
  box-shadow: 3px 3px 20px 6px #e0e0e0, -3px -3px 20px 6px #e0e0e0;
}

.contagion-card .main-head {
  font-size: 1.7rem;
  text-align: center;
  margin-top: 1rem;
}

.contagion-card .content {
  text-align: center;
  width: 90%;
}

.contagion .image img {
  position: absolute;
  height: 10em;
  top: 70%;
  left: 7%;
  animation-name: rotate;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  z-index: -10;
}

@media screen and (max-width: 1150px) {
  .contagion .image img {
    left: 6%;
  }
}

.symptomps {
  margin: 3rem 0;
}

.symptomps img {
  width: 100%;
}

.symptomps .shape {
  position: relative;
  width: 10%;
}

.symptomps .shape img {
  position: absolute;
}
/*# sourceMappingURL=main.css.map */