@font-face {
  font-family: Red Hat Display;
  src: url("../fonts/RedHatDisplay-Bold.ttf");
  src: url("../fonts/RedHatDisplay-Black.ttf");
  src: url("../fonts/RedHatDisplay-Medium.ttf");
  src: url("../fonts/RedHatDisplay-Regular.ttf");
}

@keyframes scale {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 600%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contagion .text .sub-header, .symptomps .text .sub-header, .solutions .text .sub-header, header .text .header-text .sub-header, .about-us .text .sub-header {
  font-family: Red Hat Display;
  font-weight: bold;
  font-size: 1.2em;
  color: #fa5652;
  text-transform: capitalize;
  text-align: justify;
}

.contagion .text .sub-header span, .symptomps .text .sub-header span, .solutions .text .sub-header span, header .text .header-text .sub-header span, .about-us .text .sub-header span {
  text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {
  .contagion .text .sub-header, .symptomps .text .sub-header, .solutions .text .sub-header, header .text .header-text .sub-header, .about-us .text .sub-header {
    font-family: Red Hat Display;
    font-weight: bold;
    font-size: 1em;
    color: #fa5652;
    text-transform: capitalize;
    text-align: justify;
  }
}

@media only screen and (max-width: 1100px) {
  .contagion .text .sub-header, .symptomps .text .sub-header, .solutions .text .sub-header, header .text .header-text .sub-header, .about-us .text .sub-header {
    font-family: Red Hat Display;
    font-weight: bold;
    font-size: 0.9em;
    color: #fa5652;
    text-transform: capitalize;
    text-align: justify;
  }
}

@media only screen and (max-width: 1000px) {
  .contagion .text .sub-header, .symptomps .text .sub-header, .solutions .text .sub-header, header .text .header-text .sub-header, .about-us .text .sub-header {
    font-family: Red Hat Display;
    font-weight: bold;
    font-size: 1.5em;
    color: #fa5652;
    text-transform: capitalize;
    text-align: justify;
  }
}

@media only screen and (max-width: 600px) {
  .contagion .text .sub-header, .symptomps .text .sub-header, .solutions .text .sub-header, header .text .header-text .sub-header, .about-us .text .sub-header {
    font-family: Red Hat Display;
    font-weight: bold;
    font-size: 1em;
    color: #fa5652;
    text-transform: capitalize;
    text-align: justify;
  }
}

.contagion .text .main-head, .symptomps .text .main-head, .solutions .text .main-head, header .text .header-text .main-head, .about-us .text .main-head, .contagion-card .main-head, .solutions .img-pre .main-head, .subscrib .main-head {
  font-family: Red Hat Display;
  font-weight: bold;
  font-size: 2.5rem;
  color: #035755;
  text-transform: capitalize;
  text-align: justify;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1000px) {
  .contagion .text .main-head, .symptomps .text .main-head, .solutions .text .main-head, header .text .header-text .main-head, .about-us .text .main-head, .contagion-card .main-head, .solutions .img-pre .main-head, .subscrib .main-head {
    font-family: Red Hat Display;
    font-weight: bold;
    font-size: 2.3rem;
    color: #035755;
    text-transform: capitalize;
    text-align: justify;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .contagion .text .main-head, .symptomps .text .main-head, .solutions .text .main-head, header .text .header-text .main-head, .about-us .text .main-head, .contagion-card .main-head, .solutions .img-pre .main-head, .subscrib .main-head {
    font-family: Red Hat Display;
    font-weight: bold;
    font-size: 1.5rem;
    color: #035755;
    text-transform: capitalize;
    text-align: justify;
    margin-bottom: 1rem;
  }
}

.contagion .text .content, .symptomps .text .content, .solutions .text .content, header .text .header-text .content, .about-us .text .content, .contagion-card .content, .solutions .img-pre .content {
  font-family: Red Hat Display;
  font-weight: normal;
  font-size: 0.8em;
  color: #616060;
  text-transform: capitalize;
  text-align: justify;
  line-height: 2rem;
  word-spacing: 0.2rem;
}

.contagion .text .content span, .symptomps .text .content span, .solutions .text .content span, header .text .header-text .content span, .about-us .text .content span, .contagion-card .content span, .solutions .img-pre .content span {
  text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {
  .contagion .text .content, .symptomps .text .content, .solutions .text .content, header .text .header-text .content, .about-us .text .content, .contagion-card .content, .solutions .img-pre .content {
    font-family: Red Hat Display;
    font-weight: normal;
    font-size: 0.8em;
    color: #616060;
    text-transform: capitalize;
    text-align: justify;
  }
}

@media only screen and (max-width: 1000px) {
  .contagion .text .content, .symptomps .text .content, .solutions .text .content, header .text .header-text .content, .about-us .text .content, .contagion-card .content, .solutions .img-pre .content {
    font-family: Red Hat Display;
    font-weight: normal;
    font-size: 0.9em;
    color: #616060;
    text-transform: capitalize;
    text-align: justify;
  }
}

@media only screen and (max-width: 600px) {
  .contagion .text .content, .symptomps .text .content, .solutions .text .content, header .text .header-text .content, .about-us .text .content, .contagion-card .content, .solutions .img-pre .content {
    font-family: Red Hat Display;
    font-weight: bold;
    font-size: 0.7em;
    color: #616060;
    text-transform: capitalize;
    text-align: justify;
  }
}

.contagion .header, .symptomps .header, .solutions .header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.contagion .text, .symptomps .text, .solutions .text {
  width: 33vw;
  height: auto;
}

@media screen and (max-width: 992px) {
  .contagion .text, .symptomps .text, .solutions .text {
    width: 70%;
  }
}

.contagion .text .sub-header, .symptomps .text .sub-header, .solutions .text .sub-header,
.contagion .text .main-head,
.symptomps .text .main-head,
.solutions .text .main-head,
.contagion .text .content,
.symptomps .text .content,
.solutions .text .content {
  text-align: center;
}

.map .countries, .map .countries .action {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
}

.map .countries::before, .map .countries .action::before {
  content: "";
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  top: 10px;
  bottom: 10px;
}

body {
  background-color: #f7f1f1;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  margin-bottom: 2rem;
  padding: 0.6rem 0;
}

header .nav-collapse {
  position: relative;
}

header .nav-collapse .checkbox:checked ~ .navigation {
  display: block;
  right: -1vw;
}

header .nav-collapse .checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg);
}

header .nav-collapse .checkbox:checked ~ .hamburger-menu .menu-line {
  background-color: #f7f1f1;
}

header .nav-collapse .checkbox:checked ~ .hamburger-menu .menu .line-1 {
  transform: rotateZ(-40deg);
}

header .nav-collapse .checkbox:checked ~ .hamburger-menu .menu .line-2 {
  opacity: 0;
}

header .nav-collapse .checkbox:checked ~ .hamburger-menu .menu .line-3 {
  transform: rotateZ(40deg);
}

header .nav-collapse .hamburger-menu {
  position: absolute;
  width: 35px;
  height: 35px;
  z-index: 20;
  margin-left: 2rem;
  transition: all 0.8s cubic-bezier(1, 1, 1, 1);
}

header .nav-collapse .hamburger-menu .menu {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.5s;
}

header .nav-collapse .hamburger-menu .menu-line {
  width: 100%;
  height: 0.35rem;
  background-color: #616060;
  transition: all 0.5s 0.5s;
  transform-origin: right;
}

header .nav-collapse .navigation {
  position: absolute;
  background-color: #6e6d6d;
  width: 30vw;
  height: auto;
  top: 0;
  right: -52vw;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}

header .nav-collapse .navigation .navbar-list {
  list-style: none;
  margin-top: 3.5rem;
}

header .nav-collapse .navigation .navbar-list .navbar-link {
  margin: 0.8rem 0;
}

header .nav-collapse .navigation .navbar-list .navbar-link a {
  color: #035755;
  font-family: Red Hat Display;
  text-decoration: none;
  text-transform: capitalize;
  color: #fb4c47;
  transition: letter-spacing .5s;
}

header .nav-collapse .navigation .navbar-list .navbar-link a:hover {
  letter-spacing: 1px;
}

header .nav-brand .name {
  margin: 0 0.3rem;
  cursor: pointer;
  font-family: Red Hat Display;
  font-weight: bold;
  font-size: 1em;
  color: #035755;
  text-transform: uppercase;
  text-align: justify;
}

header .nav-brand .logo {
  margin: 0 4rem 0 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  header .nav-brand .logo {
    margin-left: 1rem;
  }
}

header .nav .active::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #fa5652;
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 3px);
  bottom: -10px;
}

header .nav a {
  margin: 0 0.8rem;
  color: #035755;
  font-family: Red Hat Display;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease-in-out;
  position: relative;
}

header .nav a:first-child {
  color: #fb4c47;
}

header .nav a:hover {
  letter-spacing: 1px;
}

header .nav button {
  color: #ff483d;
  background-color: #f7f1f1;
  font-family: Red Hat Display;
  text-transform: capitalize;
  border: 1px solid #ff483d;
  border-radius: 2.5rem;
  margin: 0 .8rem 0 4rem;
  padding: 0.5rem 1.5rem;
  transition: 0.2s ease-in-out;
}

header .nav button:hover {
  color: #f7f1f1;
  background-color: #fb4c47;
  letter-spacing: 1px;
}

@media only screen and (max-width: 1200px) {
  header .text {
    order: 10;
  }
}

header .text .header-text {
  margin-left: 4rem;
}

@media only screen and (min-width: 992px) {
  header .text .header-text .main-head {
    font-size: 2rem;
  }
}

header .text .header-text .content {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1200px) {
  header .text .header-text {
    margin: 0;
    margin-top: 1rem;
  }
}

header .text .header-text button {
  font-family: Red Hat Display;
  font-weight: bold;
  color: #f7f1f1;
  text-transform: capitalize;
  background-color: #fb4c47;
  border: 1px solid #fb4c47;
  border-radius: 2.5rem;
  padding: 0.6rem 2.2rem;
  transition: 0.2s ease-in-out;
}

header .text .header-text button:hover {
  letter-spacing: 1px;
}

@media only screen and (max-width: 1200px) {
  header .text .header-text button {
    padding: 0.6rem 1.7rem;
  }
}

@media only screen and (max-width: 1000px) {
  header .text .header-text button {
    padding: 0.3rem 1rem;
  }
}

.about-us .text {
  position: relative;
}

@media only screen and (max-width: 992px) {
  .about-us .text {
    margin-bottom: 2rem;
  }
}

.about-us .text .content {
  margin-bottom: 1rem;
}

.about-us .text button {
  font-family: Red Hat Display;
  color: #fa5652;
  font-weight: bold;
  text-transform: capitalize;
  background-color: rgba(250, 86, 82, 0.15);
  border: 1px solid rgba(250, 86, 82, 0.15);
  border-radius: 2.5rem;
  padding: 0.6rem 2.2rem;
  transition: 0.2s ease-in-out;
}

.about-us .text button:hover {
  letter-spacing: 1px;
}

@media only screen and (max-width: 1200px) {
  .about-us .text button {
    padding: 0.6rem 1.7rem;
  }
}

@media only screen and (max-width: 1000px) {
  .about-us .text button {
    padding: 0.3rem 1rem;
  }
}

.about-us .image .img-1,
.about-us .image .img-2 {
  position: absolute;
  z-index: -10;
}

.about-us .image .img-1 {
  top: -10%;
  right: -14%;
  width: 150px;
  height: 150px;
  animation-name: rotate;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-iteration-count: linear;
}

.about-us .image .img-2 {
  width: 150px;
  right: -20%;
  bottom: -20%;
}

.contagion .d-flex {
  position: relative;
}

@media screen and (max-width: 992px) {
  .contagion .d-flex {
    align-items: center;
  }
}

.contagion .border-b {
  border-bottom: 5px solid #fb4c47;
}

.contagion .border-b img {
  margin-top: 4rem;
}

.contagion .m-top img {
  margin-top: 3.5rem;
}

.contagion-card {
  background-color: #f7f4f4;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  transition: box-shadow 0.5s 0.1s ease-in-out;
  box-shadow: 3px 0 5px 1px #ededed, -3px 0 5px 1px #ededed;
  padding: 2.5rem;
  margin: 1rem 0;
}

.contagion-card:hover {
  box-shadow: 3px 3px 20px 6px #e0e0e0, -3px -3px 20px 6px #e0e0e0;
}

.contagion-card .main-head {
  font-size: 1.7rem;
  text-align: center;
  margin-top: 1rem;
}

.contagion-card .content {
  text-align: center;
  width: 90%;
}

.contagion .image img {
  position: absolute;
  height: 10em;
  top: 70%;
  left: 7%;
  animation-name: rotate;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  z-index: -10;
}

@media screen and (max-width: 1150px) {
  .contagion .image img {
    left: 6%;
  }
}

.symptomps {
  margin: 3rem 0;
}

.symptomps img {
  width: 100%;
}

.symptomps .shape {
  position: relative;
  width: 10%;
}

.symptomps .shape img {
  position: absolute;
}

.solutions .rel {
  position: relative;
}

.solutions .circle {
  font-family: Red Hat Display;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fa5652;
  text-transform: uppercase;
  text-align: justify;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: -30%;
  background-color: #fdb7b5;
  border-radius: 50%;
}

.solutions .left-mid {
  position: absolute;
  left: -31%;
  top: 10%;
  width: 50%;
  height: 50%;
  animation-name: scale;
  animation-duration: 12s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
}

.solutions .full {
  position: absolute;
  right: -20%;
  top: 0;
  width: 28%;
  animation-name: rotate;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.solutions .mid {
  position: absolute;
  right: -30%;
  width: 25%;
}

.solutions .img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .solutions .img {
    font-family: Red Hat Display;
    font-weight: bold;
    font-size: 1rem;
    color: #fb4c47;
    text-transform: uppercase;
    text-align: justify;
  }
  .solutions .img-1 {
    order: 0;
  }
  .solutions .img-2 {
    order: 2;
  }
  .solutions .img-3 {
    order: 4;
  }
  .solutions .img-4 {
    order: 6;
  }
}

.solutions .img-pre {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 992px) {
  .solutions .img-pre {
    font-family: Red Hat Display;
    font-weight: bold;
    font-size: 1rem;
    color: #fb4c47;
    text-transform: uppercase;
    text-align: justify;
  }
  .solutions .img-pre-1 {
    order: 1;
  }
  .solutions .img-pre-2 {
    order: 3;
  }
  .solutions .img-pre-3 {
    order: 5;
  }
  .solutions .img-pre-4 {
    order: 7;
  }
}

@media screen and (max-width: 576px) {
  .map .word-map {
    margin: 3rem 0;
  }
}

.map .btns button {
  position: relative;
  width: 90%;
  left: 270%;
  background-color: #f7f4f4;
  border: 0;
}

.map .btns button:first-child {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  padding-top: 0.3rem;
}

.map .btns button:last-child {
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  padding-bottom: 0.4rem;
}

.map .search button {
  position: relative;
  width: 90%;
  padding: 0.3rem;
  right: 200%;
  background-color: #f7f4f4;
  border: 0;
  border-radius: 0.2rem;
}

.map .countries {
  background-color: #f7f4f4;
  border-radius: 0.1rem;
  height: 100%;
}

.map .countries p {
  font-family: Red Hat Display;
  font-weight: bold;
  font-size: 1.5rem;
  color: #035755;
  text-transform: capitalize;
  text-align: justify;
  display: inline-block;
  margin-top: 0.5rem;
}

.map .countries .action {
  margin-top: 0.5rem;
  float: right;
}

.map .countries .action button {
  display: inline-block;
  width: 100%;
  padding: 0.2rem 0.6rem 0.4rem 0.6rem;
  background-color: #f7f4f4;
  border: 0;
}

.map .countries .action button:first-child {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.map .countries .action button:last-child {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

@media screen and (max-width: 992px) {
  .map .countries {
    margin-top: 2rem;
  }
}

.map table {
  margin: 1rem 0;
  width: 100%;
}

.map table tr td {
  padding: 0.5rem;
}

.map table tr td:nth-child(2), .map table tr td:nth-child(3) {
  font-family: Red Hat Display;
  font-weight: bold;
  font-size: 0.8rem;
  color: #035755;
  text-transform: uppercase;
  text-align: justify;
}

.map table tr:hover {
  background-color: #f7f1f1;
}

.subscrib {
  padding-top: 4rem;
}

.subscrib .text {
  position: relative;
}

.subscrib .main-head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: #0c6c44;
}

.subscrib .up {
  position: absolute;
  right: -7%;
  top: 0;
  animation-name: rotate;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-iteration-count: linear;
}

.subscrib .down {
  position: absolute;
  right: -16.5%;
}

.subscrib .input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.subscrib .input input {
  width: 95%;
  font-family: Red Hat Display;
  font-weight: normal;
  color: #616060;
  background-color: #f9f7f7;
  border: 0.5rem solid #f9f7f7;
  border-radius: 2rem;
  padding: 0.6rem 19% 0.6rem 2.2rem;
}

.subscrib .input input:focus {
  outline: 0;
}

@media only screen and (max-width: 992px) {
  .subscrib .input input {
    padding-right: 20%;
  }
}

@media only screen and (max-width: 650px) {
  .subscrib .input input {
    padding-right: 23%;
  }
}

@media only screen and (max-width: 500px) {
  .subscrib .input input {
    padding-right: 30%;
  }
}

.subscrib .input button {
  width: 18%;
  position: absolute;
  right: 2.2rem;
  font-family: Red Hat Display;
  font-weight: normal;
  color: #f7f1f1;
  text-transform: capitalize;
  text-align: center;
  background-color: #fb4c47;
  border: 0;
  border-radius: 2rem;
  padding: 0.6rem 2.2rem;
}

@media only screen and (max-width: 1200px) {
  .subscrib .input button {
    right: 2rem;
    padding: 0.6rem 1.7rem;
  }
}

@media only screen and (max-width: 1000px) {
  .subscrib .input button {
    right: 1.7rem;
  }
}

@media only screen and (max-width: 500px) {
  .subscrib .input button {
    width: 22%;
  }
}

@media screen and (max-width: 420px) {
  .subscrib {
    display: none;
  }
}

footer {
  margin-top: 3rem;
}

footer .link {
  height: 100%;
}

footer .link a {
  color: #035755;
  font-family: Red Hat Display;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0 1rem;
  transition: 0.2s ease-in-out;
}

footer .link a:hover {
  letter-spacing: 2px;
}

@media screen and (max-width: 992px) {
  footer .link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
  }
  footer .link a {
    margin: 0 1.5rem;
  }
}

footer .fab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

footer .fab img {
  margin: 0 0.3rem;
}

footer .fab img:first-child {
  margin: 0 0.3rem 0.2rem 0.3rem;
}

@media screen and (max-width: 992px) {
  footer .fab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }
}

footer .brand {
  cursor: pointer;
}

footer .brand .name {
  display: inline-block;
  margin: 0 0.3rem;
  font-family: Red Hat Display;
  font-weight: bold;
  font-size: 1em;
  color: #035755;
  text-transform: uppercase;
  text-align: justify;
}

footer .content {
  font-family: Red Hat Display;
  font-size: 12px;
  text-align: center;
  color: #415e56;
  margin: 0.5rem 0 0;
  word-spacing: 2px;
}
/*# sourceMappingURL=main.css.map */