@import "base";
header {
    margin-bottom: 2rem;
    padding: 0.6rem 0;
    .nav-collapse {
        position: relative;
        .checkbox:checked~.navigation {
            display: block;
            right: -1vw;
        }
        .checkbox:checked~.hamburger-menu {
            .menu {
                transform: rotateZ(90deg);
                &-line {
                    background-color: $bg-color;
                }
                .line-1 {
                    transform: rotateZ(-40deg);
                }
                .line-2 {
                    opacity: 0;
                }
                .line-3 {
                    transform: rotateZ(40deg);
                }
            }
        }
        .hamburger-menu {
            position: absolute;
            width: 35px;
            height: 35px;
            z-index: 20;
            margin-left: 2rem;
            transition: all 0.8s cubic-bezier(1, 1, 1, 1);
            .menu {
                @include flex-2(space-around, center);
                width: 100%;
                height: 100%;
                cursor: pointer;
                transition: transform 0.5s;
                &-line {
                    width: 100%;
                    height: 0.35rem;
                    background-color: $dark-color;
                    transition: all 0.5s 0.5s;
                    transform-origin: right;
                }
            }
        }
        .navigation {
            position: absolute;
            background-color: lighten($dark-color, 5%);
            width: 30vw;
            height: auto;
            top: 0;
            right: -52vw;
            transition: right 0.8s cubic-bezier(1, 0, 0, 1);
            .navbar-list {
                list-style: none;
                margin-top: 3.5rem;
                .navbar-link {
                    margin: 0.8rem 0;
                    a {
                        @include reset-a;
                        color: $nvt;
                        transition: letter-spacing .5s;
                        &:hover {
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }
    .nav-brand {
        .name {
            margin: 0 0.3rem;
            cursor: pointer;
            @include header(bold, 1em, $header-color);
        }
        .logo {
            margin: 0 4rem 0 1rem;
            cursor: pointer;
            @media only screen and (max-width: 992px) {
                margin-left: 1rem;
                justify-content: flex-end !important;
            }
            .name {
                margin: 0 0.3rem;
                cursor: pointer;
                @include header(bold, 1em, $header-color);
            }
            img {
                margin-left: 4rem;
                cursor: pointer;
                @media only screen and (max-width: 992px) {
                    margin-right: 2rem;
                }
            }
        }
    }
    .nav {
        .active::before {
            content: "";
            width: 6px;
            height: 6px;
            background-color: $sub-header-color;
            position: absolute;
            border-radius: 50%;
            left: calc(50% - 3px);
            bottom: -10px;
        }
        a {
            margin: 0 0.8rem;
            @include reset-a;
            transition: 0.2s ease-in-out;
            position: relative;
            &:first-child {
                color: $nvt;
            }
            &:hover {
                letter-spacing: 1px;
            }
        }
        button {
            color: $nb-color;
            background-color: $bg-color;
            font-family: $rhd-font;
            text-transform: capitalize;
            border: 1px solid $nb-color;
            border-radius: 2.5rem;
            margin: 0 .8rem 0 4rem;
            padding: 0.5rem 1.5rem;
            transition: 0.2s ease-in-out;
            &:hover {
                color: $bg-color;
                background-color: $nvt;
                letter-spacing: 1px;
            }
        }
    }
    .text {
        @media only screen and (max-width: 1200px) {
            order: 10;
        }
        .header-text {
            @extend %sub-header;
            @extend %main-head;
            @extend %content;
            margin-left: 4rem;
            .main-head {
                @media only screen and (min-width: 992px) {
                    font-size: 2rem;
                }
            }
            .content {
                margin-bottom: 1rem;
            }
            @media only screen and (max-width: 1200px) {
                margin: 0;
                margin-top: 1rem;
            }
            button {
                font-family: $rhd-font;
                font-weight: bold;
                color: $bg-color;
                text-transform: capitalize;
                background-color: $nvt;
                border: 1px solid $nvt;
                border-radius: 2.5rem;
                padding: 0.6rem 2.2rem;
                transition: 0.2s ease-in-out;
                &:hover {
                    letter-spacing: 1px;
                }
                @media only screen and (max-width: 1200px) {
                    padding: 0.6rem 1.7rem;
                }
                @media only screen and (max-width: 1000px) {
                    padding: 0.3rem 1rem;
                }
            }
        }
    }
}

.about-us {
    margin-bottom: 2rem;
    .text {
        @extend %sub-header;
        @extend %main-head;
        @extend %content;
        position: relative;
        .content {
            margin-bottom: 1rem;
        }
        button {
            font-family: $rhd-font;
            color: $sub-header-color;
            font-weight: bold;
            background-color: $light-pink;
            border: 1px solid $light-pink;
            border-radius: 2.5rem;
            padding: 0.6rem 2.2rem;
            float: right;
            transition: 0.2s ease-in-out;
            &:hover {
                letter-spacing: 1px;
            }
            @media only screen and (max-width: 1200px) {
                padding: 0.6rem 1.7rem;
            }
            @media only screen and (max-width: 1000px) {
                padding: 0.3rem 1rem;
            }
        }
    }
    .image {
        .img-1,
        .img-2 {
            position: absolute;
            z-index: -10;
        }
        .img-1 {
            top: -22vh;
            right: -8vw;
            width: 150px;
            height: 150px;
            animation-name: rotate;
            animation-duration: 10s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-iteration-count: linear;
        }
        .img-2 {
            width: 150px;
            right: -9vw;
            bottom: -20vh;
        }
    }
}

.contagion {
    @extend %center-header;
    .d-flex {
        position: relative;
        @media screen and (max-width: 992px) {
            align-items: center;
        }
    }
    .border-b {
        img {
            margin-top: 4rem;
        }
        border-bottom: 5px solid $nvt;
    }
    .m-top {
        img {
            margin-top: 3.5rem;
        }
    }
    &-card {
        @extend %main-head;
        @extend %content;
        background-color: $light-color;
        border-radius: 0.5rem;
        width: 100%;
        height: 100%;
        transition: box-shadow 0.5s 0.1s ease-in-out;
        box-shadow: 3px 0 5px 1px lighten($dark-color, 55%), -3px 0 5px 1px lighten($dark-color, 55%);
        &:hover {
            box-shadow: 3px 3px 20px 6px lighten($dark-color, 50%), -3px -3px 20px 6px lighten($dark-color, 50%);
        }
        padding: 2.5rem;
        .main-head {
            font-size: 1.7rem;
            text-align: center;
            margin-top: 1rem;
        }
        .content {
            text-align: center;
            width: 90%;
        }
        margin: 1rem 0;
    }
    .image {
        img {
            position: absolute;
            height: 10em;
            top: 70%;
            left: 7%;
            @media screen and(max-width: 1150px) {
                left: 6%;
            }
            animation-name: rotate;
            animation-duration: 10s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            z-index: -10;
        }
    }
}

.symptomps {
    margin: 3rem 0;
    @extend %center-header;
    img {
        width: 100%;
    }
    .shape {
        position: relative;
        width: 10%;
        img {
            position: absolute;
        }
    }
}

.solutions {
    @extend %center-header;
    .rel {
        position: relative;
    }
    .circle {
        @include header(bold, 1.5rem, $sub-header-color);
        position: absolute;
        width: 50px;
        height: 50px;
        top: 0;
        right: -7vw;
        background-color: lighten($sub-header-color, 20%);
        border-radius: 50%;
    }
    .left-img {
        position: absolute;
        left: -10%;
        top: 10%;
        width: 10%;
        height: 50%;
        padding: 0;
        animation-name: scale;
        animation-duration: 12s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-delay: 0.5s;
    }
    .full {
        position: absolute;
        right: -35%;
        top: 0;
        width: 28%;
        animation-name: rotate;
        animation-duration: 10s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
    .mid {
        position: absolute;
        right: -44%;
        width: 25%;
    }
    .img {
        @include flex-1(center, center);
        @media screen and (max-width: 991px) {
            &-1 {
                order: 0;
            }
            &-2 {
                order: 2;
            }
            &-3 {
                order: 4;
            }
            &-4 {
                order: 6;
            }
        }
    }
    .img-pre {
        @extend %main-head;
        @extend %content;
        @include flex-2(center, flex-start);
        @media screen and (max-width: 991px) {
            &-1 {
                order: 1;
            }
            &-2 {
                order: 3;
            }
            &-3 {
                order: 5;
            }
            &-4 {
                order: 7;
            }
        }
    }
}